
@{
    ViewBag.Title = "AracKiralama";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<!DOCTYPE html>
<html lang="tr">
<head>
    <title>ErgoDarun Automobile | Araç Kirala</title>
</head>


<body>

    <nav class="nav justify-content-center nav-pills flex-column flex-md-row">
        <a class="nav-link active" href="#ekonomik" data-toggle="tab">Ekonomik</a>
        <a class="nav-link" href="#konfor" data-toggle="tab">Konfor</a>
        <a class="nav-link" href="#luks" data-toggle="tab">Lüks</a>
        <a class="nav-link" href="#kampanya" data-toggle="tab">Kampanya</a>
    </nav>

    <div class="tab-content py-5">

        <div class="tab-pane active" id="ekonomik">
            <h3>Ekonomik Araçlar</h3>
            @*BURAYA EKONOMIK ARAC KARTLARI GELECEK*@
        </div>

        <div class="tab-pane fade" id="konfor">
            <h3>Konfor Araçlar</h3>
            @*BURAYA KONFOR ARAC KARTLARI GELECEK*@
        </div>

        <div class="tab-pane fade" id="luks">
            <h3>Lüks Araçlar</h3>
            @*BURAYA LUKS ARAC KARTLARI GELECEK*@
        </div>

        <div class="tab-pane fade" id="kampanya">
            <h3>Kampanya Araçlar</h3>
            @*BURAYA KAMPANYA ARAC KARTLARI GELECEK*@
        </div>
    </div>

</body>
</html>