
@{
    ViewBag.Title = "AracKiralama";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<!DOCTYPE html>
<html lang="tr">
<head>
    <title>ErgoDarun Automobile | Araç Kirala</title>
</head>


<body>

    <nav class="nav justify-content-center nav-pills flex-column flex-md-row">
        <a class="nav-link active" href="#ekonomik" data-toggle="tab">Ekonomik</a>
        <a class="nav-link" href="#konfor" data-toggle="tab">Konfor</a>
        <a class="nav-link" href="#luks" data-toggle="tab">Lüks</a>
        <a class="nav-link" href="#kampanya" data-toggle="tab">Kampanya</a>
    </nav>

    <div class="tab-content py-5">

        <div class="tab-pane active" id="ekonomik">
            <h3>Ekonomik Araçlar</h3>
            <div class="container-fluid bg-trasparent my-4 p-3" style="position: relative;">
                <div class="row row-cols-1 row-cols-xs-2 row-cols-sm-2 row-cols-lg-4 g-3">

                    <div class="col">
                        <div class="card h-100 shadow-sm">
                            <img src="~/Content/Img/citroen-c3.png" class="card-img-top" alt="...">
                            <div class="card-body">
                                <div class="clearfix mb-3"> <span class="float-start badge rounded-pill bg-primary">Citroen C3</span> <span class="float-end price-hp">250 tl / gün</span> </div>
                                <h5 class="card-title">5 Yetişkin</h5>
                                <h5 class="card-title">Dizel/Benzin</h5>
                                <h5 class="card-title">Otomatik</h5>
                                <div class="text-center my-4"> <a href="#" class="btn btn-warning">Hemen kirala!</a> </div>
                            </div>
                        </div>
                    </div>

                    <div class="col">
                        <div class="card h-100 shadow-sm">
                            <img src="~/Content/Img/fiat-egea.png" class="card-img-top" alt="...">
                            <div class="card-body">
                                <div class="clearfix mb-3"> <span class="float-start badge rounded-pill bg-primary">Fiat Egea</span> <span class="float-end price-hp">270 tl / gün</span> </div>
                                <h5 class="card-title">5 Yetişkin</h5>
                                <h5 class="card-title">Dizel/Benzin</h5>
                                <h5 class="card-title">Manuel</h5>
                                <div class="text-center my-4"> <a href="#" class="btn btn-warning">Hemen kirala!</a> </div>
                            </div>
                        </div>
                    </div>

                    <div class="col">
                        <div class="card h-100 shadow-sm">
                            <img src="~/Content/Img/hyundai-i20.png" class="card-img-top" alt="...">
                            <div class="card-body">
                                <div class="clearfix mb-3"> <span class="float-start badge rounded-pill bg-primary">Hyundai i20</span> <span class="float-end price-hp">255 tl / gün</span> </div>
                                <h5 class="card-title">5 Yetişkin</h5>
                                <h5 class="card-title">Dizel/Benzin</h5>
                                <h5 class="card-title">Otomatik</h5>
                                <div class="text-center my-4"> <a href="#" class="btn btn-warning">Hemen kirala!</a> </div>
                            </div>
                        </div>
                    </div>

                    <div class="col">
                        <div class="card h-100 shadow-sm">
                            <img src="~/Content/Img/opel-corsa.png" class="card-img-top" alt="...">
                            <div class="card-body">
                                <div class="clearfix mb-3"> <span class="float-start badge rounded-pill bg-primary">Opel Corsa</span> <span class="float-end price-hp">275 tl / gün</span> </div>
                                <h5 class="card-title">5 Yetişkin</h5>
                                <h5 class="card-title">Dizel/Benzin</h5>
                                <h5 class="card-title">Otomatik</h5>
                                <div class="text-center my-4"> <a href="#" class="btn btn-warning">Hemen kirala!</a> </div>
                            </div>
                        </div>
                    </div>



                </div>



            </div>
        </div>

        <div class="tab-pane fade" id="konfor">
            <h3>Konfor Araçlar</h3>
            <div class="container-fluid bg-trasparent my-4 p-3" style="position: relative;">
                <div class="row row-cols-1 row-cols-xs-2 row-cols-sm-2 row-cols-lg-4 g-3">

                    <div class="col">
                        <div class="card h-100 shadow-sm">
                            <img src="~/Content/Img/ford-focus.png" class="card-img-top" alt="...">
                            <div class="card-body">
                                <div class="clearfix mb-3"> <span class="float-start badge rounded-pill bg-primary">Ford Focus</span> <span class="float-end price-hp">320 tl / gün</span> </div>
                                <h5 class="card-title">5 Yetişkin</h5>
                                <h5 class="card-title">Dizel/Benzin</h5>
                                <h5 class="card-title">Otomatik</h5>
                                <div class="text-center my-4"> <a href="#" class="btn btn-warning">Hemen kirala!</a> </div>
                            </div>
                        </div>
                    </div>

                    <div class="col">
                        <div class="card h-100 shadow-sm">
                            <img src="~/Content/Img/honda-civic.png" class="card-img-top" alt="...">
                            <div class="card-body">
                                <div class="clearfix mb-3"> <span class="float-start badge rounded-pill bg-primary">Honda Civic</span> <span class="float-end price-hp">345 tl / gün</span> </div>
                                <h5 class="card-title">5 Yetişkin</h5>
                                <h5 class="card-title">Dizel/Benzin</h5>
                                <h5 class="card-title">Manuel</h5>
                                <div class="text-center my-4"> <a href="#" class="btn btn-warning">Hemen kirala!</a> </div>
                            </div>
                        </div>
                    </div>

                    <div class="col">
                        <div class="card h-100 shadow-sm">
                            <img src="~/Content/Img/renault-megane.png" class="card-img-top" alt="...">
                            <div class="card-body">
                                <div class="clearfix mb-3"> <span class="float-start badge rounded-pill bg-primary">Renault Megane</span> <span class="float-end price-hp">340 tl / gün</span> </div>
                                <h5 class="card-title">5 Yetişkin</h5>
                                <h5 class="card-title">Dizel/Benzin</h5>
                                <h5 class="card-title">Otomatik</h5>
                                <div class="text-center my-4"> <a href="#" class="btn btn-warning">Hemen kirala!</a> </div>
                            </div>
                        </div>
                    </div>

                    <div class="col">
                        <div class="card h-100 shadow-sm">
                            <img src="~/Content/Img/toyota-corolla-hybrid.png" class="card-img-top" alt="...">
                            <div class="card-body">
                                <div class="clearfix mb-3"> <span class="float-start badge rounded-pill bg-primary">Toyota Corolla Hybrid</span> <span class="float-end price-hp">360 tl / gün</span> </div>
                                <h5 class="card-title">5 Yetişkin</h5>
                                <h5 class="card-title">Dizel/Benzin/Hybrid</h5>
                                <h5 class="card-title">Otomatik</h5>
                                <div class="text-center my-4"> <a href="#" class="btn btn-warning">Hemen kirala!</a> </div>
                            </div>
                        </div>
                    </div>



                </div>



            </div>
        </div>

        <div class="tab-pane fade" id="luks">
            <h3>Lüks Araçlar</h3>
            <div class="container-fluid bg-trasparent my-4 p-3" style="position: relative;">
                <div class="row row-cols-1 row-cols-xs-2 row-cols-sm-2 row-cols-lg-3 g-3">

                    <div class="col">
                        <div class="card h-100 shadow-sm">
                            <img src="~/Content/Img/jaguar-i-pace.png" class="card-img-top" alt="...">
                            <div class="card-body">
                                <div class="clearfix mb-3"> <span class="float-start badge rounded-pill bg-primary">Jaguar I-Pace</span> <span class="float-end price-hp">475 tl / gün</span> </div>
                                <h5 class="card-title">5 Yetişkin</h5>
                                <h5 class="card-title">Elektrik</h5>
                                <h5 class="card-title">Otomatik</h5>
                                <div class="text-center my-4"> <a href="#" class="btn btn-warning">Hemen kirala!</a> </div>
                            </div>
                        </div>
                    </div>

                    <div class="col">
                        <div class="card h-100 shadow-sm">
                            <img src="~/Content/Img/volvo-xc60d.png" class="card-img-top" alt="...">
                            <div class="card-body">
                                <div class="clearfix mb-3"> <span class="float-start badge rounded-pill bg-primary">Volvo XC60d</span> <span class="float-end price-hp">500 tl / gün</span> </div>
                                <h5 class="card-title">5 Yetişkin</h5>
                                <h5 class="card-title">Dizel</h5>
                                <h5 class="card-title">Otomatik</h5>
                                <div class="text-center my-4"> <a href="#" class="btn btn-warning">Hemen kirala!</a> </div>
                            </div>
                        </div>
                    </div>

                    <div class="col">
                        <div class="card h-100 shadow-sm">
                            <img src="~/Content/Img/volvo-xc90.png" class="card-img-top" alt="...">
                            <div class="card-body">
                                <div class="clearfix mb-3"> <span class="float-start badge rounded-pill bg-primary">Volvo XC90</span> <span class="float-end price-hp">360 tl / gün</span> </div>
                                <h5 class="card-title">7 Yetişkin</h5>
                                <h5 class="card-title">Dizel</h5>
                                <h5 class="card-title">Otomatik</h5>
                                <div class="text-center my-4"> <a href="#" class="btn btn-warning">Hemen kirala!</a> </div>
                            </div>
                        </div>
                    </div>



                </div>



            </div>
        </div>

        <div class="tab-pane fade" id="kampanya">
            <h3>Kampanya Araçlar</h3>
            <div class="container-fluid bg-trasparent my-4 p-3" style="position: relative;">
                <div class="row row-cols-1 row-cols-xs-2 row-cols-sm-2 row-cols-lg-3 g-3">

                    <div class="col">
                        <div class="card h-100 shadow-sm">
                            <img src="~/Content/Img/mercedes-e180.png" class="card-img-top" alt="...">
                            <div class="card-body">
                                <div class="clearfix mb-3"> <span class="float-start badge rounded-pill bg-primary">Mercedes E180</span> <span class="float-end price-hp">500 tl / gün</span> </div>
                                <h5 class="card-title">5 Yetişkin</h5>
                                <h5 class="card-title">Elektrik</h5>
                                <h5 class="card-title">Otomatik</h5>
                                <div class="text-center my-4"> <a href="#" class="btn btn-warning">Hemen kirala!</a> </div>
                            </div>
                        </div>
                    </div>

                    <div class="col">
                        <div class="card h-100 shadow-sm">
                            <img src="~/Content/Img/volvo-s90.png" class="card-img-top" alt="...">
                            <div class="card-body">
                                <div class="clearfix mb-3"> <span class="float-start badge rounded-pill bg-primary">Volvo S90</span> <span class="float-end price-hp">525 tl / gün</span> </div>
                                <h5 class="card-title">5 Yetişkin</h5>
                                <h5 class="card-title">Dizel</h5>
                                <h5 class="card-title">Otomatik</h5>
                                <div class="text-center my-4"> <a href="#" class="btn btn-warning">Hemen kirala!</a> </div>
                            </div>
                        </div>
                    </div>

                </div>

            </div>

        </div>
    </div>

</body>
</html>