@{
    ViewBag.Title = "Hakkimizda";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<!DOCTYPE html>
<html lang="tr">
<head>
    <title>ErgoDarun Automobile | Hakkımızda</title>
</head>


<body>

    <style>
        .nav-pills > li.active > a, .nav-pills > li.active > a:focus {
            color: black;
            background-color: #fcd900;
        }

            .nav-pills > li.active > a:hover {
                background-color: #efcb00;
                color: black;
            }
    </style>



    <h2 class="display-4 text-center py-5 my-3"> Hakkımızda</h2>

    <div class="tab-content py-5">

        <div class="tab-pane active" id="vizyon">
            <h3>Vizyonumuz</h3>
            <h4>Lorem Ipsum</h4>
            <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Ut aliquet ligula sed magna mattis, eu faucibus ex dapibus. Mauris non nunc odio. Duis laoreet vulputate scelerisque. Sed finibus condimentum est consectetur pulvinar. Nam erat sapien, auctor sed aliquet nec, laoreet vel lacus. Nunc in congue nibh.</p>
            <p>Pellentesque rutrum urna faucibus eros ultrices efficitur. Pellentesque in leo nec ante dictum posuere. Praesent luctus ex sed pulvinar feugiat. Nunc feugiat enim libero, vel vestibulum turpis venenatis mollis. Phasellus eget tempor neque. Phasellus id arcu sit amet lorem hendrerit tincidunt. Phasellus a sodales odio. Sed suscipit vel nunc vitae consectetur. Duis pretium euismod accumsan. Mauris ac quam porta, suscipit felis et, tempor arcu. Etiam tempus pharetra euismod.</p>
        </div>

        <div class="tab-pane" id="misyon">
            <h3>Misyonumuz</h3>
            <h4>Tristique Lorem</h4>
            <p>Pellentesque dictum eget justo efficitur dictum. Nulla malesuada elementum augue, vitae tempor risus sollicitudin id. Vestibulum massa nulla, porttitor id laoreet id, pharetra vitae sapien. Sed elit urna, egestas ac magna bibendum, accumsan vulputate nunc. Maecenas ut tortor lacus. Aliquam nec orci non libero laoreet ultrices. Etiam venenatis leo at metus suscipit tempus. Sed aliquam tempus sem. Nam condimentum luctus mi eu molestie.</p>
            <p>Sed luctus tristique lorem, quis mollis odio viverra eget. Maecenas lacus arcu, lacinia ac nibh eget, ornare volutpat ligula. Curabitur ac metus nec justo semper dapibus. In quis mauris in dolor venenatis interdum. Curabitur in tristique leo. Quisque lobortis a felis interdum aliquam. Nunc rhoncus augue in tincidunt egestas. Vestibulum ante ipsum primis in faucibus orci luctus et ultrices posuere cubilia curae; In aliquam sit amet ex ac mollis. Morbi imperdiet felis lacus, bibendum dictum justo euismod et. Quisque consectetur est quis odio pellentesque, a pellentesque tellus vulputate. Nulla nec velit placerat nibh sodales placerat non id eros. Donec et consectetur diam. Etiam nibh eros, aliquet eget tincidunt quis, molestie vitae enim.</p>
        </div>

        <div class="tab-pane" id="tarih">
            <h3>Tarihimiz</h3>
            <h4>Venenatis Id Risus</h4>
            <p>Proin venenatis id risus in finibus. Aenean non tincidunt ligula. Proin semper orci ex, et molestie orci semper sed. Nunc ut arcu ac est facilisis vestibulum vehicula sed magna. Integer massa nisl, vehicula vitae suscipit auctor, molestie id quam. Sed luctus dolor dui, vel scelerisque tellus laoreet quis. Curabitur consectetur orci ligula, vitae bibendum dolor congue in. In rhoncus, nisl vel lobortis tempor, dolor sapien tincidunt neque, eu imperdiet mauris libero in sem. Pellentesque tellus nibh, tincidunt quis elit vel, dapibus cursus quam. Proin nibh est, cursus ac tincidunt finibus, scelerisque non justo. Vivamus cursus convallis ante ut vehicula. Fusce a urna ut nisl placerat ultricies eget eget nisi.</p>
            <p>Vestibulum vitae nulla aliquam turpis placerat mattis sit amet vel nisi. Sed ut blandit diam. Donec ac leo justo. Praesent porta non tortor at pellentesque. Donec justo tellus, malesuada eu lectus id, ultricies venenatis tellus. Integer fermentum lorem ut consequat ultricies. Nullam eget auctor dolor. Praesent cursus varius felis. In finibus fringilla lorem ac pellentesque. Sed sodales rutrum pellentesque. Nullam nec neque leo.</p>
        </div>

        <div class="tab-pane" id="sube">
            <h3>Şubelerimiz</h3>
            <h4>Lacinia Eu Tempus</h4>
            <p>Aliquam erat volutpat. Cras et dignissim ante. Cras cursus et ex auctor sollicitudin. Fusce tempor nec nisi sit amet vehicula. Nullam vel lectus in ex blandit sollicitudin id ac justo. Nam sed volutpat nisi. Etiam vehicula, dolor id dapibus fringilla, elit nunc pellentesque lectus, hendrerit auctor augue tortor vel odio. Sed urna nulla, rhoncus sed eros non, auctor vehicula eros. Nunc quis lobortis tellus. Proin vel metus at massa elementum lobortis. Praesent dignissim euismod est. Nulla turpis magna, lacinia eu tempus ac, sagittis in velit. Curabitur vulputate interdum sem vitae viverra. In vitae sagittis justo, tempus vestibulum diam. Fusce vel tempus quam, at pellentesque quam.</p>
            <p>In venenatis laoreet metus ac euismod. Donec volutpat sem ex, sit amet vestibulum metus lobortis et. Nam nec est ligula. Vivamus sit amet nisi eu erat tempus bibendum eu commodo velit. Vivamus sit amet sodales nisl. Sed convallis ipsum ipsum, vitae tincidunt tortor rutrum ut. Nam ornare tincidunt velit, eu vehicula dui mollis nec. Nam ut facilisis lorem. Donec eu dui maximus, tincidunt justo vel, sollicitudin ipsum.</p>
        </div>
    </div>
</body>
</html>

