
@{
    ViewBag.Title = "HomeView";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<div class="container">
    <div class="row">

        <div class="col-sm-6 col-md-3">
            <div class="card">
                <div class="embed-responsive embed-responsive-4by3">

                    <img src="~/Content/Img/disci.jpg" class="card-img-top embed-responsive-item" style="text-align:center" />
                    <a href="#" class="stretched-link"></a>
                </div>
                <div class="card-block">
                    <h3 class="card-title">Hakkımızda</h3>
                </div>
            </div>
        </div>

        <div class="col-sm-6 col-md-3">
            <div class="card">
                <div class="embed-responsive embed-responsive-4by3">
                    <img src="~/Content/Img/kiralama.jpg" class="card-img-top embed-responsive-item" style="text-align:center" />
                    <a href="#" class="stretched-link"></a>
                </div>
                <div class="card-block">
                    <h3 class="card-title">Araç Kiralama</h3>
                </div>
            </div>
        </div>

        <div class="col-sm-6 col-md-3">
            <div class="card">
                <div class="embed-responsive embed-responsive-4by3">
                    <img src="~/Content/Img/kampanyalar.jpg" class="card-img-top embed-responsive-item" style="text-align:center" />
                    <a href="#" class="stretched-link"></a>
                </div>
                <div class="card-block">
                    <h3 class="card-title">Kampanyalar</h3>
                </div>
            </div>
        </div>

        <div class="col-sm-6 col-md-3">
            <div class="card">
                <div class="embed-responsive embed-responsive-4by3">
                    <<img src="~/Content/Img/sorular.jpg" class="card-img-top embed-responsive-item" style="text-align:center" />
                    <a href="#" class="stretched-link"></a>
                </div>
                <div class="card-block">
                    <h3 class="card-title">S.S.S.</h3>
                </div>
            </div>
        </div>
    </div>
</div>


