@{
    ViewBag.Title = "Sorular";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<body>
    <div class="accordion" id="accordionExample">
        <div class="accordion-item">
            <h2 class="accordion-header" id="headingOne">
                <button class="accordion-button" type="button" data-bs-toggle="collapse" data-bs-target="#collapseOne" aria-expanded="true" aria-controls="collapseOne">
                    Araç kiralamak için hangi belgelere ihtiyaç duyarım?
                </button>
            </h2>
            <div id="collapseOne" class="accordion-collapse collapse show" aria-labelledby="headingOne" data-bs-parent="#accordionExample">
                <div class="accordion-body">
                    <strong>Mit dol es dolares ger tom.</strong> Lorem ipsum dolor sit amet, consectetur adipiscing elit. Quisque consequat leo mauris, a vulputate elit tincidunt eleifend. Nunc sodales at ante sit amet placerat. Sed sed lorem eu ipsum faucibus sodales at a lorem. Phasellus id velit sapien. Suspendisse hendrerit, magna vel rhoncus sodales, elit velit placerat erat, et dapibus nisl odio quis nibh. Nam convallis purus vitae mauris sagittis ultrices. Pellentesque mollis diam et auctor sodales. Pellentesque mollis ac turpis sit amet imperdiet. Curabitur auctor id nisl sed mollis. Morbi dolor magna, malesuada non nibh in, hendrerit consequat tellus. Morbi id orci vel turpis pulvinar ullamcorper.
                </div>
            </div>
        </div>
        <div class="accordion-item">
            <h2 class="accordion-header" id="headingTwo">
                <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#collapseTwo" aria-expanded="false" aria-controls="collapseTwo">
                    Araç kiralamak için siteye kayıt zorunlu mu?
                </button>
            </h2>
            <div id="collapseTwo" class="accordion-collapse collapse" aria-labelledby="headingTwo" data-bs-parent="#accordionExample">
                <div class="accordion-body">
                    <strong>Temur at etora del lumarus.</strong>Fusce quis consequat mi. Etiam ac lobortis mi, sed viverra metus. Nunc aliquam pretium ex, sit amet ullamcorper lectus lobortis eleifend. Donec facilisis nisl id gravida sollicitudin. Nunc fringilla urna vel dapibus porttitor. Sed id aliquam magna. Aenean nulla massa, vestibulum quis augue vel, eleifend molestie sapien. Nulla gravida dolor eu pulvinar venenatis.
                </div>
            </div>
        </div>
        <div class="accordion-item">
            <h2 class="accordion-header" id="headingThree">
                <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#collapseThree" aria-expanded="false" aria-controls="collapseThree">
                    Kiralama ücreti için ödeme seçenekleri nelerdir?
                </button>
            </h2>
            <div id="collapseThree" class="accordion-collapse collapse" aria-labelledby="headingThree" data-bs-parent="#accordionExample">
                <div class="accordion-body">
                    <strong> Vestibulum nec ante quis dui gravida vulputate. </strong> Curabitur consectetur magna suscipit eleifend tincidunt. Vestibulum nec ante quis dui gravida vulputate. Pellentesque commodo ligula in risus posuere, vitae laoreet ipsum semper. Ut turpis ante, ultricies quis lacus vitae, pretium consectetur libero. In ullamcorper purus quis nulla consectetur, eget facilisis lectus laoreet. Nulla commodo ut mi ac commodo. Suspendisse at sodales mauris. Aenean vitae erat justo. Nunc ut massa nec tellus aliquam suscipit. Nullam et hendrerit leo, ut sodales lorem. Cras magna neque, dignissim in condimentum quis, varius in dolor. Mauris eget luctus leo.
                </div>
            </div>
        </div>
    </div>
</body>