
@model Data_Entities.Concretes.Musteri
@{
    ViewBag.Title = "AracKiralama";
    Layout = "~/Views/Shared/Musteri_Layout .cshtml";
}
<!DOCTYPE html>
<html lang="tr">
<head>
    <title>ErgoDarun Automobile | Araç Kirala</title>
</head>


<body>

    <div class="card-body">
        <form action="~/Musteriler/AracKiralama" method="post" class="form-shape needs-validation" novalidate>
            <div class="input-group form-group">
                @Html.TextBoxFor(x => x.musteriID, new { @class = "form-control", type = "text", required = "required", placeholder = "Müşteri Id'niz." })
            </div>
            <div class="row">
                <div class="input-group form-group col-md-6">
                    @Html.TextBoxFor(x => x.musteriKiraladigiAracID, new { @class = "form-control", type = "text", required = "required", placeholder = "Kiralamak istediğiniz aracın Id'si." })

                </div>

                <div class="form-group col-md-6">
                    @Html.TextBoxFor(x => x.musteriID, new { @class = "form-control", type = "text", required = "required", placeholder = "Kiralamak istediğiniz gün sayısı." })
                    <div class="invalid-feedback">Lütfen kiralamak istediğiniz gün sayısını giriniz.</div>
                </div>


            </div>
            <input type="submit" value="Kirala" class="btn btn-secondary bg-dark float-right login_btn">
        </form>
    </div>
    <script src="~/Content/Scripts/signupValidation.js"></script>
</body>
</html>